{{#if _isCompletionIndicatorEnabled}}
<div class="page-level-progress-competion-indicator {{_type}}-completion-indicator" aria-hidden="true">
    <div class="page-level-progress-competion-inner-indicator {{_type}}-completion-indicator-inner">
    </div>
</div>
{{/if}}