{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="pagelevelprogress-inner">
    {{{a11y_aria_label _globals._extensions._pageLevelProgress.pageLevelProgress}}}
    <div role="list" class="js-children"></div>
</div>
