<div class="page-level-progress-inner">
    {{#each component}}
    <div class="page-level-progress-component-title">
        <a class="page-level-progress-component-title-inner">
            {{{title}}}
        </a>
        <div class="page-level-progress-complete">{{_isComplete}}</div>
    </div>
    {{/each}}
</div>
