<div class="page-level-progress-menu-item-indicator">
    <div class="page-level-progress-menu-item-indicator-bar" style="width:{{completedChildrenAsPercentage}}%" role="region" aria-label="" {{#if _globals._accessibility._ariaLabels.pageLevelProgressIndicatorBar}}tabindex="0"{{/if}}></div>
</div>