{{import_globals}}
<div class="pagelevelprogress-indicator-inner {{type}}-indicator-inner">
  <div class="pagelevelprogress-indicator-bar" style="width: {{percentageComplete}}%;">
  </div>
  {{#if ariaLabel}}
  <span class="aria-label">
    {{compile ariaLabel}}
  </span>
  {{/if}}
</div>
