<div class="page-level-progress-menu-item-indicator">
    <div class="page-level-progress-menu-item-indicator-bar" style="width:{{completedChildrenAsPercentage}}%" role="region" tabindex="0"></div>
</div>