{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<span class="pagelevelprogress__indicator-inner">

  <span class="pagelevelprogress__indicator-bar js-indicator-bar" style="width: {{percentageComplete}}%;"></span>

  {{#if ariaLabel}}
  <span class="aria-label js-indicator-aria-label">
    {{compile ariaLabel}}
  </span>
  {{/if}}

</span>
