{{import_globals}}
<div class="pagelevelprogress-indicator-inner {{type}}-indicator-inner" style="width: {{percentageComplete}}%;">
    {{#if ariaLabel}}
    <span class="aria-label">
        {{compile ariaLabel}}
    </span>
    {{/if}}
</div>
